{% extends "base.html" %}
{% load static %}
{% block titulo %} Detalles {% endblock %}

{% block contenido %} 

<div class="play-container container">
    <img src="{{ movie.portada }}" class="play-img" alt="" />
    <div class="play-text">
        <h2>{{ movie.titulo }}</h2>
        <p>{{ movie.descripcion }}</p>
        <div class="tags">
            {% for item in genero %}
            <span>{{ item.idgenero.genero }}</span>
            {% endfor %}
            <span>1h:49m</span>
        </div>
        <a href="{{ movie.link }}" class="watch-btn">
            <i class='bx bx-play' ></i>
            <span>Reproducir</span>
        </a>
    </div
    <iframe allowfullscreen="https://m130.uqload.org/3rfkyv4yjbw2q4drdiapnipukn3az6wkintywq5qziatvkio7qgkrky7toga/v.mp4" frameborder="0" height="215px" id="iframe2" onload="$('.iframe-loading').css('background-image', 'none');" sandbox="allow-same-origin allow-scripts" scrolling="no" src="https://uqload.org/embed-dsssbp0w4z7a.html" style="border: none;" width="100%"></iframe>

</div>


{% endblock %}