{% extends "base.html" %}
{% load static %}
{% block titulo %} Inicio {% endblock %}

{% block contenido %} 


{% for movie in movie %}
<section class="home container" id="home">
    <img src="{{ movie.portada.url }}" class="home-img">
    <div class="home-text">
        <h1 class="home-title">{{ movie.titulo }}</h1>
        <a href="/detalles/{{ movie.slug}}" class="watch-btn">
            <i class='bx bx-play' ></i>
            <span>Reproducir</span>
        </a>
    </div>
</section>
{% endfor %}

<section class="popular container" id="peliculas-popular" >

    <!-- Animacion -->
    <div class="heading">
        <h2 class="heading-tittle">Animación</h2>
    </div>

    <!--contenido-->
    <div class="popular-content swiper ">
        <div class="swiper-wrapper">
            <!-- Pelicula 1 -->
            {% for movieAnimacion in movieAnimacion %}
            <a class="swiper-slide" href="/detalles/{{ movieAnimacion.slug}}">
                <div class="movie-box">
                    <img src="{{ movieAnimacion.idmovie.imagen.url }}" alt="" class="movie-box-img"> </img>
                    <div class="box-text">
                        <h2 class="movie-title"></h2>
                    </div>
                </div>
            </a>
            {% endfor %}

            
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <!-- Aventura -->
    <div class="heading">
        <h2 class="heading-tittle">Aventura</h2>
    </div>

    <!--contenido-->
    <div class="popular-content swiper ">
        <div class="swiper-wrapper">
            <!-- Pelicula 1 -->
            {% for movieAventura in movieAventura %}
            <a class="swiper-slide" href="/detalles/{{ movieAventura.slug}}">
                <div class="movie-box">
                    <img src="{{ movieAventura.idmovie.imagen.url }}" alt="" class="movie-box-img"> </img>
                    <div class="box-text">
                        <h2 class="movie-title"></h2>
                    </div>
                </div>
            </a>
            {% endfor %}

            
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <!-- Comedia -->
    <div class="heading">
        <h2 class="heading-tittle">Comedia</h2>
    </div>

    <!--contenido-->
    <div class="popular-content swiper ">
        <div class="swiper-wrapper">
            <!-- Pelicula 1 -->
            {% for movieComedia in movieComedia %}
            <a class="swiper-slide" href="/detalles/{{ movieComedia.slug}}">
                <div class="movie-box">
                    <img src="{{ movieComedia.idmovie.imagen.url }}" alt="" class="movie-box-img"> </img>
                    <div class="box-text">
                        <h2 class="movie-title"></h2>
                    </div>
                </div>
            </a>
            {% endfor %}

            
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</section>

{% endblock %}


{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="{% static "js/main.js" %}"></script>
{% endblock extra_js %}