{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "/css/styles.css" %}">
    <!--LInk swip css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!--ICONS-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    <header>
        
        <div class="nav container">
            <a class="logo">Peliculas</a>

            <ul class="navbar">
                <li><a href="#" class="nav-link">Home</a></li>
                <li><a href="#peliculas-popular" class="nav-link" class="nav-link">Peliculas</a></li>
                <li><a href="#" class="nav-link">Series</a></li>
                <li>
                    <div class="search-box " >
                        <input type="search" class="search-input" placeholder="Search">
                        <i class='bx bx-search'></i>
                    </div>
                </li>
            </ul>

            <div class="menu-icon">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            
            

        </div>
    </header>

    {% block contenido %} {% endblock %}

    

    
</body>
</html>

{% block extra_js %}
{% endblock extra_js %}

